* {
  box-sizing: border-box;
}

body{
  overflow-x: hidden;
}

.row::after {
  content: "";
  clear: both;
  display: table;
  grid-auto-rows: 1fr;
  width: 100%;
}
.grid {
  display: grid;
  grid-auto-flow: column;
  width: 100%;
}

.grid-element {
  height: 100%;
  width: 100%;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
  display: table-cell;
}

@media only screen and (min-width: 600) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

/* navbar css */
/* Add a black background color to the top navigation */
.topnav {
    background-color: #F1F2F4;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Add an active class to highlight the current page */
  .active {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
  
  /* Dropdown container - needed to position the dropdown content */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Style the dropdown button to fit inside the topnav */
  .dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  /* Style the dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Style the links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a dark background on topnav links and the dropdown button on hover */
  .topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #555;
    color: white;
  }
  
  /* Add a grey background to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Show the dropdown menu when the user moves the mouse over the dropdown button */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .floatLeft{
    float: left !important;
  }
  
  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none !important;
      display: block;
      text-align: left;
    }
    
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
    .paddingL{
      padding-left: 1em;
      font-size: 1.10rem;
      font-weight: 600;
    }
  }

  /* second section css */
  .two{
    margin-top: 50px;
  }

  .animation {
    position: relative;
    bottom: 0;
    left: 0;
    height: 240px;
}
.animation .parking {
    /* position: relative;
    left: -15px;
    bottom: 390px;
    z-index: 101; */
    width: 100%;
    height: auto;
}
.animation .car {
    position: absolute;
    left: -15px;
    top: 75px;
    z-index: 102;
}
.main-header {
  width: auto;
}
.main-header h1 {
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
  font-size: 52px;
  line-height: 68px;
  color: #18191F;
  margin-top: 3vh;
}
.main-header p {
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: rgba(24, 25, 31, 0.6);
  margin-top: 42px;
}
.main-header a img{
  width: 159px;
  margin-top: 14px;
  max-width: 100%;
  height: auto;
}
img{
  max-width: 100%;
  height: auto;
}
.ml-2{
  margin-left: 8.33%;
}

.mr-2{
  margin-right: 8.33%;
}

.hey{
  padding-top: 15vh;
}

.parking3{
  height: auto;
  width: 100%;
  position: absolute; 
  right: 0px;
  bottom: 0px;
  z-index: -1;
}

#sectionTwo{
  display:none;
}

#sectionThree{
  display: block;
}

#sectionFive{
  padding-bottom: 5vh;
  margin-bottom: 10vh;
}

.animation .parking {
  position: relative;
  left: -15px;
  bottom: 390px;
  z-index: 101;
  width: 100%;
  height: auto;
}

.noPad{
  padding: 0;
  position: relative;
  height: 55vh;
}

.setHeight{
  height: 55vh;
}
.this{
  padding: 0px;
  padding-bottom: 15px;
}

.wvr-parking {
  width: 90%;
}
.wvr-txt {
  width: 85%;
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 148.2%;
  color: rgba(24, 25, 31, 0.6);
}

.common-header {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 140%;
  color: #18191F;
  text-align: center;
  margin-top: 5vh;
}

.align-items-center{
  text-align: center;
}

.mekparkNav{
  padding-left: 20px;
  font-size: 1.5em;
  font-weight: 600;
}

#sectionFour{
  margin-bottom: 5vh;
  margin-top: 10vh
}

.theme-color {
  background-color: #F1F2F4;
}

.common-txt1 {
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #18191F;
}
.common-txt2 {
  font-family: 'Manrope', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #18191F;
}
.hiw-img-margin {
  margin-bottom: 16px;
}
.box:hover {
  transform: scale(0.8);
  transition-duration: 0.5s;
}
.ben-img {
  width: 75%;
}
.b-con {
  width: 513px;
  padding: 25px;
  background: rgba(236, 238, 241, 0.75);
  border-radius: 22px;
}
.black-line {
  width: 100%;
  border: 2px solid #18191F;
}
.p-circle {
  position: absolute;
  width: 440px;
  height: 220px;
  background: linear-gradient(180deg, #FFFFFF -50%, rgba(255, 255, 255, 0.04) 75%), #FF2734;
  bottom: -35px;
  border-radius: 0 0 300px 300px;
  padding: 60px;
}
.partner-img {
  width: auto;
  height: 65px;
}
.r-dot {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background: #FF2734;
  margin: 11px 11px 11px 0;
}
.f-r-revrse {
  flex-direct
}

.justify-items-center{
  text-align: center;
}

@media (min-width:961px) {
  .parking3{
    height: auto;
    width: 100%;
    position: absolute; 
    right: 0px;
    bottom: 0px;
    z-index: -1;
  }
  #sectionTwo{
    display: block;
  }
  #sectionThree{
    display: none;
  }
  .animation .parking {
    position: relative;
    left: 0px;
    bottom: 0px;
    z-index: 0;
    width: 100%;
    height: auto;
  }

}

@media(max-width: 1240px){
  .main-header h1 {
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    font-size: 52px;
    line-height: 68px;
    color: #18191F;
    margin-top: 0vh;
  }
}

@media (max-width: 777px) {
  .main-header h1 {
      width: 70%;
      font-size: 24px;
      line-height: 36px;
      align-content: flex-start;
  }
  .main-header p {
      width: 85%;
      font-size: 14px;
      line-height: 146.2%;
  }
  .main-header a img{
      width: 100px;
  }
  .top-back {
      width: 100%;
      left: auto;
      position: absolute;
      right: 185px;
  }
  .animation {
      height: auto;
      width: 100%;
  }
  .animation .parking {
      width: 150%;
      top: -5px;
      left: auto;
      /* right: 50%; */
  }
  .animation .car {
      left: -15px;
      top: 62%;
      width: 30%;
  }
  .wvr-parking {
    width: 267px;
  }
  .wvr-txt {
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    margin-top: 30px;
  }
  .common-header {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
}
  .f-d-column {
    flex-direction: column;
  }
}

.footer {
  background: #F1F2F4;
  font-size: 14px;
}
.footer .footer-top {
  padding: 60px 0 30px 0;
}
.footer .footer-top .footer-info, .footer .footer-top .footer-links  {
  margin-bottom: 30px;
}
.footer .footer-top .footer-info .logo {
  line-height: 0;
  margin-bottom: 15px;
}
.footer .footer-top .footer-info .logo img {
  width: 56px;
  margin-right: 25px;
}
.footer .footer-top .footer-info .logo {
  font-weight: 800;
  font-size: 36px;
  line-height: 33px;
  letter-spacing: 1px;
  color: #18191F;
  font-family: "Manrope", sans-serif;
  margin-top: 3px;
}
.footer .footer-top .footer-info .logo span {
  color: #FF2734;
}
.footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 8px;
  color: #18191F;
  font-family: "Manrope", sans-serif;
}
.footer .footer-top h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: #18191F;
  position: relative;
  padding-bottom: 24px;
}
.footer .footer-top .footer-links ul a {
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}
.social-links {
display: flex;
}
.social-links a {
  font-size: 17px;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background-color: rgba(24, 25, 31, 0.1);
  display: grid;
  align-items: center;
  justify-items: center;
  color: #18191F;
  margin-right: 16px;
  transition: 0.3s;
}
.footer .footer-top .social-links a:hover {
  color: #FF2734;
}
@media (max-width: 777px) {
.footer .footer-top .footer-links ul li, .footer .footer-top .footer-info .logo {
  justify-content: center;
}
.footer .footer-top .footer-info, .footer .footer-top .footer-links  {
  margin-bottom: 0;
}
.footer .footer-top .social-links {
  width: 60%;
  margin: auto;
  justify-content: space-around;
}
.footer .footer-top .social-links a {
  margin: 0;
}
.t-align-center {
  text-align: center;
}
}
